body {
    background-color: #C2DFE3;
    height: 873px;
}

.headerBody {
    background-color: #5C6B73;
    height: 175px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5C6B73;
}

li {
    float: left;
}

li a,
.dropbtn {
    display: inline-block;
    color: #E0FBFC;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
    background-color: #E0FBFC;
    color: #5C6B73;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #E0FBFC;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #253237;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #253237;
}

.keyboardTypesDropdown:hover .dropdown-content {
    display: block;
}

.carouselImg {
    position: relative;
    top: 29px;
    left: 26px;
    width: 500px;
    height: 500px;
    border-radius: 50px;
}

.withIMG {
    height: 550px;
}

#border {
    margin: 1rem 0 1rem 0;
    background-color: #5C6B73;
    width: 550px;
    height: 550px;
    border-radius: 50px;
}

.card {
    position: relative;
    height: 356px;
    scale: .7;
}

.cTop1 {
    top: -607px;
    left: 568px;
}

.cTop2 {
    top: -964px;
    left: 792px;
}

.cTop3 {
    top: -1320px;
    left: 1015px;
}

.cTop4 {
    top: -1675px;
    left: 1233px;
}

.cBottom1 {
    top: -1750px;
    left: 568px;
}

.cBottom2 {
    top: -2106px;
    left: 791px;
}

.cBottom3 {
    top: -2462px;
    left: 1011px;
}

.cBottom4 {
    top: -2818px;
    left: 1230px;
}

footer {
    position: relative;
    top: -2835px;
}

.cardImg {
    height: 250px;
    width: 250px;
    position: relative;
    top: 13px;
    left: 18px;
}

h1 {
    text-align: center;
}